/* ==========================================================================
   Colors
   ========================================================================== */
   html {
      /*Var Colors*/
      --color-primary:           #ed3654;
      --color-primary-light:     #ff6f80;
      --color-primary-dark:      #b4002c;

      --color-secondary:         #5834d8;
      --color-secondary-light:   #9162ff;
      --color-secondary-dark:    #000075;

      --color-text-black:        #111827;
      --color-text-grey:         #63687b;
      --color-text-light-grey:   #aaaabf;
      --color-text-dark-grey:    #383e4f;
      --color-text-white:        #fff;
   }

/* ==========================================================================
   Master Layout
   ========================================================================== */
   main {
      max-width: 40rem;
      margin: auto;
   }

/* ==========================================================================
   Typography
   ========================================================================== */
   html {
      /*Var Font Families*/
      --font-primary:   'Open Sans', Arial, sans-serif;
      --font-headings:  'Raleway', Arial, sans-serif;

      /*Var Type Scale*/
      --ratio:      1.2;

      --size-1:     calc( var(--size-2) * var(--ratio) );;
      --size-2:     calc( var(--size-3) * var(--ratio) );;
      --size-3:     calc( var(--size-4) * var(--ratio) );
      --size-4:     calc( var(--size-5) * var(--ratio) );
      --size-5:     calc( var(--size-6) * var(--ratio) );
      --size-6:     calc( 1rem * var(--ratio) );

      --size-7:     calc( 1rem * ( var(--ratio) / 1.35) );

      /*Properties*/
      font-family: var( --font-primary );
      margin: 0 0 0 0;
      line-height: 1.45;
   }

   h1, h2, h3, h4, h5, h6 {
      font-family: var( --font-headings );
   }

   h1 {
      font-size: var( --size-1 );
      letter-spacing: 0.05em;
      line-height: 1.15;
   }

   h2 {
      font-size: var( --size-2 );
      letter-spacing: 0.065em;
      line-height: 1.2;
      margin: 2em 0 0.5em;
   }

   h3 {
      font-size: var( --size-3 );
      letter-spacing: 0.06em;
      margin: 1.2em 0 0.6em;
   }

   h4 {
      font-size: var( --size-4 );
   }

   h5 {
      font-size: var( --size-5 );
   }

   h6 {
      font-size: var( --size-6 );
   }

   a {
   	color: var( --color-secondary );
      text-decoration: none;
   }

   a:visited {
      color: var( --color-secondary-dark);
   }

   a:hover, a:focus, a:active {
      color: var( --color-text-light-grey );
      text-decoration: underline;
   }

   a:active {

   }

   ul li { 
      list-style-type: square;
   }

   ul ul li {
      list-style-type: circle;
   }

   ol li {
      list-style-type: upper-roman;
   }

   ol ol li {
      list-style-type: lower-roman;
   }

   blockquote {
      line-height: 1.55;
   }

   cite {
      color: var( --color-text-grey);
   }

   .featured-text {
      font-size: var( --size-4 );
      font-style: italic;
   }

   .tertiary-text {
      color: var( --color-text-grey);
      font-size: var( --size-7 );
   }

   /* ==========================================================================
   Header Component
   ========================================================================== */

   header {
   	background-color: var( --color-primary );
   	padding: 2rem;
   }

   nav ul {
      margin: 0;
      padding: 0;
   }

   nav ul li {
      display: inline;
      list-style-type: none;
      margin-right: 1.5rem;
   }

   nav a {
      color: var( --color-text-white );
      text-decoration: none;
   }

   nav a:visited {
      color: var( --color-text-white );
      text-decoration: none;
   }

   nav a:hover, nav a:focus, nav a:active {
      color: var( --color-text-light-grey );
      text-decoration: none;
   }

   /* ==========================================================================
   Footer Component
   ========================================================================== */

   footer {
      background-color: var( --color-primary-light );
      padding: 2rem;
   }

   /* ==========================================================================
   Examples
   ========================================================================== */
   figure h1, figure h2, figure h3, figure h4, figure h5, figure h6 {
      margin: 1em 0 0 0;
   }

   #modal-demo h5 {
      margin-top: 0;
   }


   /* ==========================================================================
   Buttons Component
   ========================================================================== */
   .button-primary, .button-primary:visited {
      background-color: var( --color-primary);
      border-radius: 5px;
      color: var( --color-text-white);
      display: inline-block;
      letter-spacing: 0.06em;
      padding: 0.5rem 1rem;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.3s ease-in;
   }

   .button-primary:hover {
      background-color: var( --color-primary-light);
      text-decoration: none;
   }

   .button-primary:focus {
      outline: none;
      text-decoration: none;
   }

   .button-primary:active {
      text-decoration: underline;
   }

   .button-normal, .button-normal:visited {
      background-color: var( --color-text-grey);
      border-radius: 5px;
      color: var( --color-text-white);
      display: inline-block;
      letter-spacing: 0.06em;
      padding: 0.5rem 1rem;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.3s ease-in;
   }

   .button-normal:hover {
      background-color: var( --color-text-dark-grey);
      text-decoration: none;
   }

   .button-normal:focus {
      outline: none;
      text-decoration: none;
   }

   .button-normal:active {
      text-decoration: underline;
   }

   .button-tertiary, .button-tertiary:visited {
      background-color: transparent;
      border: 1px solid var( --color-primary);
      border-radius: 5px;
      color: var( --color-primary);
      display: inline-block;
      letter-spacing: 0.06em;
      padding: 0.5rem 1rem;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.3s ease-in;
   }

   .button-tertiary:hover {
      background-color: var( --color-primary);
      color: var( --color-text-white);
      text-decoration: none;
   }

   .button-tertiary:focus {
      outline: none;
      text-decoration: none;
   }

   .button-normal:active {
      text-decoration: underline;
   }

   /* ==========================================================================
   Accordion Component
   ========================================================================== */
   details summary {
      border-top: 1px solid var( --color-primary-light);
      font-family: var( --font-headings);
      font-weight: bold;
      outline: none;
      padding: 1rem;
   }

   /* ==========================================================================
   Modal Dialogue Component
   ========================================================================== */
   @keyframes fade {
      0% {
         opacity: 0.6;
      }
      
      100% {
         opactiy: 1;
      }  
   }

   @keyframes slide-up {
      0% {
         transform: translatey(2rem);
      }
      
      100% {
         transform: translatey(0);
      }
   }

   dialog {
      border: none;
      border-radius: 10px;
      border-top: 5px solid var( --color-primary-light );
      box-shadow: 2px 2px 20px var( --color-text-dark-grey);
      width: 50vw;
   }

   dialog[open] {
      animation: fade 0.2s, slide-up 0.2s ease-out;
   }
